@inherits LayoutComponentBase
@using NotatnikMechanika.Client.Utils
@using MvvmPackage.Core.Services.Interfaces
@using Microsoft.Extensions.Logging;
@inject IMvNavigationService NavigationService
@inject NavigationManager NavigationManager
@inject ILogger<MainLayout> logger;
@inject IMBAnimatedNavigationManager AnimatedNavigationService

<AuthorizeView>
    <Authorized>     
        <NavMenu @ref="@NavBar" />


        <div class="mdc-drawer-app-content">
            <MBTopAppBar Title="Notatnik Mechanika"
                         NavIcon="menu"
                         @onclick="@(e => NavBar?.SideBarToggle())"
                         ScrollTarget="#main-content"
                         TopAppBarType="@MBTopAppBarType.Dense"
                         class="mdc-top-app-bar--short-has-action-item mdc-elevation--z5">

                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <MBIconButton Icon="account_box" @onclick="@(e => AnimatedNavigationService.NavigateTo("account"))" />
                </section>
            </MBTopAppBar>

            <main class="main-content" id="main-content">
                <div class="max-width-content">
                    <MBAnimatedNavigation>
                        <div class="mdc-top-app-bar--dense-fixed-adjust">
                            <div class="main-content">
                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        @Body
                                    </div>
                                </div>
                            </div>
                        </div>
                    </MBAnimatedNavigation>
                </div>
            </main>
        </div>


    </Authorized>
    <NotAuthorized>
        <Redirect Path="/" />
    </NotAuthorized>
</AuthorizeView>

@code{

    private NavMenu NavBar { get; set; }    
}