<div class="nav-menu">

    <div class="nav-header">
        <img alt="logo" src="/images/app_icon.png" />
        <h2>Notatnik Mechanika</h2>
    </div>
    
    <div class="nav-content">

        <a href="/orders">
            <MatIcon Icon="favorite" />
            <p>Zlecenia</p>
        </a>

        <a href="/customers">
            <MatIcon Icon="account_box" />
            <p>Klienci</p>
        </a>

        <a href="/services">
            <MatIcon Icon="local_laundry_service" />
            <p>Usługi</p>
        </a>

        <a href="/commodities">
            <MatIcon Icon="home" />
            <p>Magazyn</p>
        </a>

        <a href="/">
            <MatIcon Icon="restore_from_trash" />
            <p>Archiwum</p>
        </a>

        <a href="/">
            <MatIcon Icon="file_copy" />
            <p>Faktury/Paragony</p>
        </a>

        <a href="/myaccount">
            <MatIcon Icon="account_box" />
            <p>Moje konto</p>
        </a>
    </div>
</div>


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp4</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Zlecenia
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-plus" aria-hidden="true"></span> Klienci
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Usługi
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="commodities">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Magazyn
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Archiwum
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Faktury/Paragony
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}