<div class="nav-menu">

    <img class="image" src="/images/app_icon.png" />

    <a class="nav-item" href="/">
        <MatIcon Icon="favorite" />
        <p>Zlecenia</p>
    </a>

    <a class="nav-item" href="/customers">
        <MatIcon Icon="account_box" />
        <p>Klienci</p>
    </a>

    <a class="nav-item" href="/services">
        <MatIcon Icon="local_laundry_service" />
        <p>Usługi</p>
    </a>

    <a class="nav-item" href="/commodities">
        <MatIcon Icon="home" />
        <p>Magazyn</p>
    </a>

    <a class="nav-item" href="/">
        <MatIcon Icon="restore_from_trash" />
        <p>Archiwum</p>
    </a>

    <a class="nav-item" href="/">
        <MatIcon Icon="file_copy" />
        <p>Faktury/Paragony</p>
    </a>

    <a class="nav-item" href="/">
        <MatIcon Icon="account_box" />
        <p>Moje konto</p>
    </a>
</div>
