<div class="nav-menu">

    <div class="nav-header">
        <img alt="logo" src="/images/app_icon.png" />
        <h2>Notatnik Mechanika</h2>
    </div>
    
    <div class="nav-content">

        <a href="/orders">
            <MatIcon Icon="favorite" />
            <p>Zlecenia</p>
        </a>

        <a href="/customers">
            <MatIcon Icon="account_box" />
            <p>Klienci</p>
        </a>

        <a href="/services">
            <MatIcon Icon="local_laundry_service" />
            <p>Usługi</p>
        </a>

        <a href="/commodities">
            <MatIcon Icon="home" />
            <p>Magazyn</p>
        </a>

        <a href="/">
            <MatIcon Icon="restore_from_trash" />
            <p>Archiwum</p>
        </a>

        <a href="/">
            <MatIcon Icon="file_copy" />
            <p>Faktury/Paragony</p>
        </a>

        <a href="/myaccount">
            <MatIcon Icon="account_box" />
            <p>Moje konto</p>
        </a>
    </div>
</div>
