.vs/
NotatnikMechanika.Forms/NotatnikMechanika.Forms.Android/obj/
packages/
NotatnikMechanika.WPF/obj/
NotatnikMechanika.WPF/bin/
NotatnikMechanika.UWP/obj/
NotatnikMechanika.UWP/bin/
NotatnikMechanika.Forms/NotatnikMechanika.Forms/obj/
NotatnikMechanika.Forms/NotatnikMechanika.Forms/bin/
NotatnikMechanika.Forms/NotatnikMechanika.Forms.Android/bin/
NotatnikMechanika.Core/bin/
NotatnikMechanika.Core/obj/
