@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@using MvvmPackage.Core
@inherits PageBase<AddCommodityToOrderPageModel>
@attribute [DisplayDialog]

<MatDialogTitle>Dodaj usługi</MatDialogTitle>
<MatDialogContent>
    @if (!PageModel.IsLoading && PageModel.CommodityModels != null)
    {
        <MatTable Items="PageModel.CommodityModels" class="table" ShowPaging="false" UseSortHeaderRow="true" RowClass="table-row" HeaderRowClass="table-header">
            <MatTableHeader>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Edycja</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.Name</td>
                <td>@context.Price</td>
                <td><MatIconButton Icon="@(context.IsInOrder ? MatIconNames.Remove : MatIconNames.Add)" Command="PageModel.AddRemoveCommodityCommand" CommandParameter="context" /></td>
            </MatTableRow>
        </MatTable>
    }
</MatDialogContent>
<MatDialogActions>
    <MatButton Command="PageModel.CloseCommand">OK</MatButton>
</MatDialogActions>