@import 'Colors.scss';

.main-layout {
    width: 100%;
    height: 100%;
    
    .app-bar {
        width: 100%;
        height: 100%;
        
        header {
            background-color: $NavigationBarColor;    
        }
    }

    .drawer-container {
        width: 100%;
        height: 100%;
        background-color: $PageBackgroundColor;
    }

    table {
        margin: 0;
        padding: 0;

        th {
            color: white !important;
        }

        .table-row {
            color: white !important;
        }

        td:last-child {
            color: white !important;
            text-align: center;
            width: auto;
            padding: 0;
        }

        .table-header {
            color: white !important;
        }
    }

    .app-fab--absolute {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }

    .card {
        min-width: 250px;
        max-width: 400px;
        min-height: 350px;
        border-radius: 3px;

        .card-header {
            /*background-image: linear-gradient(to bottom, $GradientStart, $GradientStop);*/
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            padding: 5px;
            justify-content: space-between;

            p {
                margin: 15px;
                display: inline-block;
                font-weight: bold;
                font-size: 1rem;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;

            .text-field {
                margin: 10px 60px;
                display: inline-block;
            }
        }
    }
    
    .expansion-panel{
        background-color: $PrimaryColor !important;
        border-radius: 10px;
        margin: 10px;

        .expansion-panel-details{
            padding: 0 24px;
            display: flex;
            flex-direction: column
        }
    }
    

    .car-options {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-items: center;
    }


    .dialog {
        .dialog-content-item {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
