@page "/"

@inject NotatnikMechanika.Core.ViewModels.LoginViewModel ViewModel

<div class="login-container">
	<img class="login-icon" src="/assets/AppIcon_Light.png"/>
	<h3 class="login-message">Zaloguj się, aby uzyskać dostęp</h3>

	<MatTextField Class="login-email" @bind-Value="ViewModel.UserModel.Email" @bind-Value:event="oninput" Label="Email" Outlined="true" Icon="email"/>
	<MatTextField Class="login-password" @bind-Value="ViewModel.UserModel.Password" @bind-Value:event="oninput" Label="Hasło" Outlined="true" Icon="lock_outline" Type="password"/>
	<MatCheckbox Class="login-checkbox">Zapamiętaj mnie.</MatCheckbox>

	<MatButton Class="login-register" OnClick="@(() => ViewModel.RegisterCommand.Execute(null))" Raised="true">Rejestracja</MatButton>
	<MatButton Class="login-sign-in" OnClick="@(() => ViewModel.LoginCommand.Execute())" Raised="true">Logowanie</MatButton>
	<!-- TODO add waiting icon inside Login button where IsEnabled = ViewModel.IsWaiting -->
	
	<p class="login-error">@ViewModel.ErrorMessage</p>
</div>