<div class="mat-layout-grid-cell">
    <Card CardHeader="@CardHeader" CardContent="@CardContent" />
</div>

@code {

    [Parameter]
    public RenderFragment CardHeader { get; set; }

    [Parameter]
    public RenderFragment CardContent { get; set; }

}
