@page "/login"
@layout AuthLayout
@using NotatnikMechanika.Core.PageModels
@using MvvmPackage.Blazor
@inherits PageBase<LoginPageModel>

<EditForm Model="PageModel.LoginModel" OnValidSubmit="PageModel.LoginAction">
    <DataAnnotationsValidator />
    <div class="input">
        <MatTextField @bind-Value="PageModel.LoginModel.Email" Icon="email" Label="E-mali" Outlined="true" ValidationDisabled="true" />
        <ValidationMessage For="@(() => @PageModel.LoginModel.Email)" />
    </div>
    <div class="input">
        <MatTextField @bind-Value="PageModel.LoginModel.Password" Icon="lock_outline" Label="Hasło" Type="password" Outlined="true" ValidationDisabled="true" />
        <ValidationMessage For="@(() => @PageModel.LoginModel.Password)" />
    </div>
    <div class="buttons">
        <MatButton @onclick="() => PageModel.RegisterCommand.Execute(null)" Raised="true">Nie mam konta</MatButton>
        <MatButton Type="Submit" Raised="true" Disabled="PageModel.IsLoading">Zaloguj się</MatButton>
    </div>
</EditForm>
