@page "/login"
@using NotatnikMechanika.Core.PageModels
@inject LoginPageModel PageModel

<EditForm Model="PageModel.LoginModel" OnValidSubmit="PageModel.LoginAction">
    <div class="input">
        <MatTextField @bind-Value="PageModel.LoginModel.Email" Icon="email" Label="E-mali" Outlined="true" ValidationDisabled="true" />
    </div>
    <div class="input">
        <MatTextField @bind-Value="PageModel.LoginModel.Password" Icon="lock_outline" Label="Hasło" Type="password" Outlined="true" ValidationDisabled="true" />
    </div>
    <div class="buttons">
        <MatButton @onclick="() => PageModel.RegisterCommand.Execute(null)" Raised="true">Nie mam konta</MatButton>
        <MatButton type="submit" Raised="true">Zaloguj się</MatButton>
    </div>
</EditForm>
