@page "/addservice"
@using NotatnikMechanika.Core.PageModels
@using MVVMPackage.Blazor
@inherits PageBase<AddServicePageModel>


<EditForm Model="PageModel.Model" OnValidSubmit="_ => PageModel.AddCommand.Execute(null)">
    <Card>
        <CardHeader>
            <p>Dodaj Usługę</p>
        </CardHeader>

        <CardContent>
            <MatTextField @bind-Value="@PageModel.Model.Name" Class="text-field" Label="Nazwa" Outlined="true"></MatTextField>
            <MatTextField @bind-Value="@PageModel.Model.Price" Class="text-field" Label="Cena" Outlined="true"></MatTextField>
        </CardContent>
    </Card>
    <MatButton Label="Zapisz" Type="Submit" Raised="true" />
</EditForm>

    