@page "/"
@inject NotatnikMechanika.Core.Interfaces.IAuthService AuthService
@using NotatnikMechanika.Client.Utils

<p>Hello</p>

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!

        <button @onclick="AuthService.LogoutAsync">Log out</button>
    </Authorized>
</AuthorizeView>
