@page "/"
@layout WelcomeLayout

<div class="container">
    <h3>Witaj w notatniku mechanika</h3>

    <AuthorizeView>
        <Authorized>
            <MatButton Label="Mój panel" Link="/orders" />
        </Authorized>

        <NotAuthorized>
            <MatButton Label="Nie mam konta" Link="/registration" />
            <MatButton Label="Zaloguj się" Link="/login" />
        </NotAuthorized>
    </AuthorizeView>

</div>