@page "/welcome"
@layout WelcomeLayout

<div class="container" style="background-color: black;">
    <h3>Witaj w notatniku mechanika</h3>

    <a href="Register">Nowe konto</a>
    <a href="Login">Zaloguj się</a>
</div>
