@page "/"
@layout WelcomeLayout
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <p>Jesteś zalogowany jako @context.User.Identity.Name </p>
        <p><MBButton Label="Przejdź do swojego panelu" @onclick="@(e => NavigationManager.NavigateTo("orders"))" /></p>
    </Authorized>

    <NotAuthorized>
         <MBButton Label="Zaloguj się" @onclick="@(e => NavigationManager.NavigateTo("login"))" />
         <MBButton Label="Nie mam konta" @onclick="@(e => NavigationManager.NavigateTo("registration"))" />
    </NotAuthorized>
</AuthorizeView>