@page "/"
@layout WelcomeLayout

<h3>Witaj w notatniku mechanika</h3>

<AuthorizeView>
    <Authorized>
        <a href="/orders">Mój panel</a>
    </Authorized>

    <NotAuthorized>
        <a href="/registration">Nie mam konta</a>
        <a href="/login">Zaloguj się</a>
    </NotAuthorized>
</AuthorizeView>